<!-- BEGIN: Head-->
<%-include('./common/header')%>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <%-include('./common/navbar')%>

  <!-- END: Header-->


  <!-- BEGIN: Main Menu-->
  <%-include('./common/sidebar')%>
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <!-- Dashboard Ecommerce Starts -->
        <section id="dashboard-ecommerce">
          <div class="row match-height">


            <!-- Statistics Card -->
            <div class="col-xl-12 col-md-6 col-12">
              <div class="card card-statistics">
                <div class="card-header">

                </div>
                <div class="card-body statistics-body">
                  <div class="row">
                    
                    <!-- Users -->
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                      <a href="/admin/users_listing">
                        <div class="d-flex flex-row">
                          <div class="avatar bg-light-primary me-2">
                            <div class="avatar-content">
                              <i data-feather="users" class="avatar-icon"></i>
                            </div>
                          </div>
                          <div class="my-auto text-white">
                            <h4 class="fw-bolder mb-0 text-white"><%- user %></h4>
                            <p class="card-text font-small-3 mb-0">Users</p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <!-- Churches -->
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                      <a href="/admin/churches_listing">
                        <div class="d-flex flex-row">
                          <div class="avatar bg-light-danger me-2">
                            <div class="avatar-content">
                              <i data-feather="cross" class="fas fa-church text-white"></i>
                            </div>
                          </div>
                          <div class="my-auto text-white">
                            <h4 class="fw-bolder mb-0 text-white"><%- churches %></h4>
                            <p class="card-text font-small-3 mb-0">Churches</p>
                          </div>
                        </div>
                      </a>
                    </div>
                
                    <!-- Business -->
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                      <a href="/admin/business_listing">
                        <div class="d-flex flex-row">
                          <div class="avatar bg-light-success me-2">
                            <div class="avatar-content">
                              <i data-feather="briefcase" class="fas fa-briefcase text-white"></i>
                            </div>
                          </div>
                          <div class="my-auto text-white">
                            <h4 class="fw-bolder mb-0 text-white"><%- business %></h4>
                            <p class="card-text font-small-3 mb-0">Business</p>
                          </div>
                        </div>
                      </a>
                    </div>
                
                    <!-- Non-Profit -->
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                      <a href="/admin/nonprofit_listing">
                        <div class="d-flex flex-row">
                          <div class="avatar bg-light-warning me-2">
                            <div class="avatar-content">
                              <i class="fas fa-hand-holding-heart text-white"></i>
                            </div>
                          </div>
                          <div class="my-auto text-white">
                            <h4 class="fw-bolder mb-0 text-white"><%- nonprofit %></h4>
                            <p class="card-text font-small-3 mb-0">Non-Profit</p>
                          </div>
                        </div>
                      </a>
                    </div>

                   <!-- Subscription -->
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0 mt-2">
                      <a href="/admin/subscription_listing">
                        <div class="d-flex flex-row">
                          <div class="avatar bg-light-primary me-2">
                            <div class="avatar-content">
                              <i class="fas fa-credit-card text-white"></i>
                            </div>
                          </div>
                          <div class="my-auto text-white">
                            <h4 class="fw-bolder mb-0 text-white"><%- subscription %></h4>
                            <p class="card-text font-small-3 mb-0">Subscription</p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card p-4">
                <h5 class="text-center text-grey">Users Growth</h5>
                <div id="usersChart"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card p-4">
                <h5 class="text-center text-grey">Churches Growth</h5>
                <div id="churchesChart"></div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="card p-4">
                <h5 class="text-center text-grey">Business Growth</h5>
                <div id="businessChart"></div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="card p-4">
                <h5 class="text-center text-grey">Non-Profits Growth</h5>
                <div id="nonprofitChart"></div>
              </div>
            </div>
          </div>
          
          
          

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const counts_data = JSON.parse('<%- JSON.stringify(counts1 || {}) %>');
              const months_data = JSON.parse('<%- JSON.stringify(months1 || []) %>').map(month => month.split(',')[0]);
          
              console.log("Counts Data:", counts_data);
              console.log("Months Data:", months_data);
          
              // Default to empty array if key doesn't exist
              const usersCounts = counts_data.users || [];
              const churchesCounts = counts_data.churches || [];
              const businessCounts = counts_data.business || [];
              const nonprofitCounts = counts_data.nonprofit || [];
          
              function renderChart(chartId, name, data, color) {
                var options = {
                  chart: {
                    height: 250,
                    width: "100%",
                    type: "area",
                    animations: { easing: "easeout", speed: 800 },
                    toolbar: { show: false },
                  },
                  series: [{ name: name, data: data }],
                  colors: [color],
                  xaxis: {
                    categories: months_data,
                    labels: { style: { colors: "#fff", fontSize: "12px" } }, // White labels for dark mode
                  },
                  yaxis: {
                    labels: { style: { colors: "#fff", fontSize: "12px" } },
                  },
                  stroke: {
                    width: 3,
                    curve: "smooth", // Smooth curved lines
                  },
                  fill: {
                    type: "gradient",
                    gradient: {
                      shadeIntensity: 1,
                      opacityFrom: 0.6,
                      opacityTo: 0.2,
                      stops: [0, 90, 100],
                    },
                  },
                  dataLabels: { enabled: false },
                  tooltip: { theme: "dark" },
                };
          
                var chart = new ApexCharts(document.querySelector(chartId), options);
                chart.render();
              }
          
              renderChart("#usersChart", "Users", usersCounts, "#1E90FF");
              renderChart("#churchesChart", "Churches", churchesCounts, "#FF5733");
              renderChart("#businessChart", "Business", businessCounts, "#2ECC71");
              renderChart("#nonprofitChart", "Non-Profits", nonprofitCounts, "#F1C40F");
            });
          </script>
          
          

      </div>
      <!--/ Statistics Card -->
    </div>


  </div>
  </section>
  <!-- Dashboard Ecommerce ends -->

  </div>
  </div>
  </div>
  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>


  </section>
  <!-- Dashboard Ecommerce ends -->


  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
  <!-- script -->
  <%-include('./common/script')%>
  <!-- BEGIN: Footer-->
  <%-include('./common/footer')%>
  <!-- END: Footer-->


  <script>
    $(window).on('load', function() {
      if (feather) {
        feather.replace({
          width: 14,
          height: 14
        });
      }
    })
  </script>

