<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <%-include('../../common/header')%>
  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col=""
  >
    <!-- sidebar -->
    <%-include('../../common/sidebar')%>
    <!-- navbar -->

    <%-include('../../common/navbar')%>
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>

        <div class="content-body">
          <div class="row justify-content-center">
            <!-- <div class="col-md-6"> -->
            <div class="content-header-left col-md-12 col-12 mb-2">
              <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                  <!-- Register v1 -->
                  <div class="card mb-0">
                    <div class="card-body">
                      <a href="/admin/churches_listing" class="btn btn-primary">
                        <i
                          class="ph ph-arrow-fat-lines-left"
                          style="font-size: 20px"
                        ></i>
                      </a>
                      <form class="auth-register-form mt-2">
                        <div class="mb-1">
                          <a href="#" class="brand-logo">
                            <div
                              style="
                                display: flex;
                                justify-content: center;
                                align-items: center;
                              "
                            >
                              <p>Vision Statement</p>
                              <% if (!data.visionStatement) { %>
                              <img
                                src="../../assets/images (1).jpeg"
                                class="profile_img"
                                alt="avatar"
                                height="120px"
                                width="150px"
                              />
                              <% } else { %>
                              <img
                                src="<%= data.visionStatement %>"
                                class="profile_img"
                                alt="vision statement image"
                                height="120px"
                                width="150px"
                              />
                              <% } %>
                            </div>
                          </a>

                          <a href="#" class="brand-logo">
                            <div
                              style="
                                display: flex;
                                justify-content: center;
                                align-items: center;
                              "
                            >
                              <p>Values Statement</p>
                              <% if (!data.valuesStatement) { %>
                              <img
                                src="../../assets/images (1).jpeg"
                                class="profile_img"
                                alt="avatar"
                                height="120px"
                                width="150px"
                              />
                              <% } else { %>
                              <img
                                src="<%= data.valuesStatement %>"
                                class="profile_img"
                                alt="values statement image"
                                height="120px"
                                width="150px"
                              />
                              <% } %>
                            </div>
                          </a>
                          <label for="churchName" class="form-label"
                            >Church Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="church_name"
                            name="church_name"
                            aria-describedby="church_name"
                            value="<%=data.churchName ? data.churchName : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="churchWebsite" class="form-label"
                            >Church Website</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="churchWebsite"
                            name="churchWebsite"
                            value="<%=data.churchWebsite ? data.churchWebsite : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="churchAccessCode" class="form-label"
                            >Church Access Code</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="churchAccessCode"
                            name="churchAccessCode"
                            value="<%=data.churchAccessCode ? data.churchAccessCode : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="numberOfMembers" class="form-label"
                            >Number Of Members</label
                          >
                          <input
                            type="numberOfMembers"
                            class="form-control"
                            id="numberOfMembers"
                            name="numberOfMembers"
                            value="<%=data.numberOfMembers ? data.numberOfMembers : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="maritalStatus" class="form-label"
                            >Marital Status</label
                          >
                          <input
                            type="maritalStatus"
                            class="form-control"
                            id="maritalStatus"
                            name="maritalStatus"
                            value="<%=data.maritalStatus ? data.maritalStatus : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="donateEdifyLivers" class="form-label"
                            >Donate Edify Live</label
                          >
                          <input
                            type="donateEdifyLivers"
                            class="form-control"
                            id="donateEdifyLivers"
                            name="donateEdifyLivers"
                            value="<%=data.donateEdifyLivers ? data.donateEdifyLivers : 'N/A' %>"
                            disabled
                          />
                        </div>
                      </form>
                      <br /><br />
                    </div>
                  </div>

                  <!-- /Register v1 -->
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <%-include('../../common/script')%>

    <script>
      $(window).on("load", function () {
        if (feather) {
          feather.replace({
            width: 14,
            height: 14,
          });
        }
      });
    </script>
  </body>
  <!-- END: Body-->
</html>
