<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <%-include('../../common/header')%>
  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col=""
  >
    <!-- sidebar -->
    <%-include('../../common/sidebar')%>
    <!-- navbar -->

    <%-include('../../common/navbar')%>
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>

        <div class="content-body">
          <div class="row justify-content-center">
            <!-- <div class="col-md-6"> -->
            <div class="content-header-left col-md-12 col-12 mb-2">
              <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                  <!-- Register v1 -->
                  <div class="card mb-0">
                    <div class="card-body">
                      <a href="/admin/users_listing" class="btn btn-primary">
                        <i
                          class="ph ph-arrow-fat-lines-left"
                          style="font-size: 20px"
                        ></i>
                      </a>
                      <div class="brand-logo">
                        <div
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <% if(!data.profilePicture) { %>
                          <img
                            src="../../assets/images (1).jpeg"
                            class="profile_img"
                            alt="avatar"
                            height="120px"
                            width="150px"
                            style="align-items: center"
                          />
                          <% } else { %>
                          <img
                            src="<%= data.profilePicture %>"
                            class="profile_img"
                            alt="user image"
                            height="120px"
                            width="150px"
                          />
                          <% } %>
                        </div>
                      </div>
                      <form class="auth-register-form mt-2">
                        <div class="mb-1">
                          <label for="first_name" class="form-label"
                            >First Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="first_name"
                            name="first_name"
                            aria-describedby="first_name"
                            value="<%=data.firstName ? data.firstName : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="last_name" class="form-label"
                            >Last Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="last_name"
                            name="last_name"
                            value="<%=data.lastName ? data.lastName : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="gender" class="form-label">Gender</label>
                          <input
                            type="gender"
                            class="form-control"
                            id="gender"
                            name="gender"
                            value="<%=data.gender ? data.gender : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="phone_number" class="form-label"
                            >Phone</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="phone_number"
                            name="phone_number"
                            value="<%= data.countryCode ? data.countryCode : '' %><%= data.phoneNumber ? data.phoneNumber : 'N/A' %>"
                            disabled
                        />

                        </div>
                        <div class="mb-1">
                          <label for="email" class="form-label">Email</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            value="<%=data.email ? data.email : 'N/A' %>"
                            disabled
                          />
                        </div>

                        <div class="mb-1">
                          <label for="maritalStatus" class="form-label"
                            >Marital Status</label
                          >
                          <input
                            type="maritalStatus"
                            class="form-control"
                            id="maritalStatus"
                            name="maritalStatus"
                            value="<%=data.maritalStatus ? data.maritalStatus : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="location" class="form-label"
                            >Location</label
                          >
                          <input
                            type="location"
                            class="form-control"
                            id="location"
                            name="location"
                            value="<%=data.location ? data.location : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="donateEdifyLivers" class="form-label"
                            >Donate Edify Live</label
                          >
                          <input
                            type="donateEdifyLivers"
                            class="form-control"
                            id="donateEdifyLivers"
                            name="donateEdifyLivers"
                            value="<%=data.donateEdifyLivers ? data.donateEdifyLivers : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="traitAndExperience" class="form-label"
                            >Trait And Experience</label
                          >
                          <input
                            type="traitAndExperience"
                            class="form-control"
                            id="traitAndExperience"
                            name="traitAndExperience"
                            value="<%=data.traitAndExperience ? data.traitAndExperience : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="postEmpSeekingSection" class="form-label"
                            >Post Emp Seeking Section</label
                          >
                          <input
                            type="postEmpSeekingSection"
                            class="form-control"
                            id="postEmpSeekingSection"
                            name="postEmpSeekingSection"
                            value="<%=data.postEmpSeekingSection ? data.postEmpSeekingSection : 'N/A' %>"
                            disabled
                          />
                        </div>
                        <div class="mb-1">
                          <label for="hartOfService" class="form-label"
                            >Hart Of Service</label
                          >
                          <input
                            type="hartOfService"
                            class="form-control"
                            id="hartOfService"
                            name="hartOfService"
                            value="<%=data.hartOfService ? data.hartOfService : 'N/A' %>"
                            disabled
                          />
                        </div>
                      </form>
                      <br /><br />
                    </div>
                  </div>

                  <!-- /Register v1 -->
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <%-include('../../common/script')%>

    <script>
      $(window).on("load", function () {
        if (feather) {
          feather.replace({
            width: 14,
            height: 14,
          });
        }
      });
    </script>
  </body>
  <!-- END: Body-->
</html>
