<!-- BEGIN: Head-->
<%- include('../../common/header') %>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern navbar-floating footer-static"
  data-open="click" data-menu="vertical-menu-modern" data-col="">
  
  <!-- BEGIN: Header-->
  <%- include('../../common/navbar') %>
  <!-- END: Header-->

  <!-- BEGIN: Main Menu-->
  <%- include('../../common/sidebar') %>
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
      <div class="content-body">
        
        <!-- Traits & Experience Table -->
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card card-body">
              
              <!-- Add Button -->
              <div class="d-flex justify-content-end mb-2">
                <a href="/admin/filtertestimonies_add" class="btn btn-primary">
                  <i class="ph ph-plus"></i> Add Filter 
                </a>
              </div>

              <div class="table-responsive">
                <table class="table" id="myTable">
                  <thead>
                    <tr>
                      <th>Sr.no</th>
                      <th>Title</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% filtertestimonies_data.forEach((data, i) => { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= data.title ? data.title : "N/A" %></td>
                      <td>
                        <button onclick="deletefiltertestimonies('<%= data.id %>')" class="btn btn-outline-danger btn-sm">
                          <i class="ph ph-trash"></i>
                        </button>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!-- Traits & Experience Table End -->

      </div>
    </div>
  </div>
  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>

  <!-- BEGIN: Footer-->
  <%- include('../../common/footer') %>
  <!-- END: Footer-->

  <%- include('../../common/script') %>

  <script>
    $(document).ready(function () {
      $("#myTable").DataTable();
    });

    function deletefiltertestimonies(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "This action cannot be undone!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/admin/filterTestimonies_delete",
            method: "post",
            data: { id: id },
            success: function (res) {
              if (res.success) {
                Swal.fire({
                  title: "Deleted!",
                  text: "Filter entry has been deleted.",
                  icon: "success",
                  timer: 2000,
                  showConfirmButton: false,
                });

                setTimeout(() => {
                  location.reload();
                }, 2000);
              }
            },
          });
        }
      });
    }
  </script>

</body>
